@charset "UTF-8";
.site-nav {
  z-index: 1;
}

@media (max-width: 819px) {
  .large-screens-only {
    display: none;
  }
}
@media (min-width: 820px) {
  .small-screens-only {
    display: none;
  }
}
.site-header.decorative-background {
  background: url("/assets/img/background-light.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}
@media (prefers-color-scheme: dark) {
  .site-header.decorative-background {
    background: url("/assets/img/background-dark.jpg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.decorative-background .site-nav .page-link, .decorative-background .site-title {
  text-shadow: 0 0 4px rgb(255, 255, 255);
}
@media (prefers-color-scheme: dark) {
  .decorative-background .site-nav .page-link, .decorative-background .site-title {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
  }
}

.decorative-background .site-title img {
  filter: drop-shadow(0 0 4px rgb(255, 255, 255));
}
@media (prefers-color-scheme: dark) {
  .decorative-background .site-title img {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.2));
  }
}

.callout {
  display: inline-block;
  padding: 0.6em 1em;
  background: var(--solarized-mono2);
  border: 1px solid var(--solarized-mono1);
  border-radius: 0.3em;
}
.callout > p, .callout > ul {
  margin-bottom: 0;
}

.emoji {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
}

path.monocolour {
  fill: var(--solarized-mono01);
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-1em);
  }
}
:target {
  animation: slide-in 0.5s;
}

@keyframes expand {
  from {
    opacity: 0;
    line-height: 0;
  }
}
details[open] > :not(summary) {
  animation: expand 0.3s;
}

.subsite-title {
  text-transform: uppercase;
  font-size: 0.6em;
  vertical-align: top;
}

hr {
  border: none;
  border-bottom: 1px solid var(--solarized-mix1);
}

table ul {
  margin-bottom: 0;
}

.record-name {
  font-style: italic;
  overflow-wrap: normal;
}

.bar {
  margin-top: 1em;
  width: 100%;
  background-color: var(--solarized-mono2);
  border-radius: 0.5em;
}

.bar-fill {
  display: block;
  height: 0.5em;
  background-color: var(--solarized-mono00);
  border-radius: 0.5em;
}

.small-text {
  text-transform: uppercase;
  font-size: 0.6em;
  vertical-align: top;
  white-space: nowrap;
}

.quiet-text {
  color: var(--solarized-mono1);
}

.enemy-level {
  float: right;
  border: ridge #7bb4b9 2px;
  width: 2em;
  line-height: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

.enemy-image {
  display: block;
  max-width: 90%;
  margin: auto;
  border: 4px ridge;
}

li.user-stat-changes {
  list-style-type: "☉";
  border-left: 1px solid var(--solarized-mono1);
  border-radius: 0.5em;
  padding-left: 0.5em;
  margin-left: -0.5em;
}

li.opponent-stat-changes {
  list-style-type: "☍";
  border-left: 1px solid var(--solarized-mono1);
  border-radius: 0.5em;
  padding-left: 0.5em;
  margin-left: -0.5em;
}

.compendium-link:hover::after {
  content: "📖";
  font-size: small;
  margin-left: 0.125em;
}

.game-info {
  font-style: italic;
}

.earth, .water, .fire, .poison, .ice, .lightning, .frostfire, .elemental, .physical {
  padding: 0 0.3em;
  border-radius: 0.3em;
  white-space: nowrap;
}
.earth.record-name, .water.record-name, .fire.record-name, .poison.record-name, .ice.record-name, .lightning.record-name, .frostfire.record-name, .elemental.record-name, .physical.record-name {
  border-radius: 0.8em 0.3em;
}

.earth {
  background-color: #b5e080;
}

.water {
  background-color: #a7d3e8;
}

.fire {
  background-color: #e6ba90;
}

.poison {
  background-color: #befa46;
}

.ice {
  background-color: #c0f0f0;
}

.lightning {
  background-color: #f2f2aa;
}

.frostfire {
  background: linear-gradient(to right, #c0f0f0, #e6ba90);
}

.elemental {
  background: linear-gradient(#b5e080, #a7d3e8, #e6ba90);
}

.physical {
  background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0));
}

@media (prefers-color-scheme: dark) {
  .earth {
    background-color: #2c4210;
  }
  .water {
    background-color: #1f4758;
  }
  .fire {
    background-color: #4e3822;
  }
  .poison {
    background-color: #21501c;
  }
  .ice {
    background-color: #1a5a5a;
  }
  .lightning {
    background-color: #44440a;
  }
  .frostfire {
    background: linear-gradient(to right, #1a5a5a, #4e3822);
  }
  .elemental {
    background: linear-gradient(#2c4210, #1f4758, #4e3822);
  }
  .physical {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  }
}
img.character {
  border: 4px ridge brown;
  margin-right: 1em;
}

img + .callout {
  max-width: 540px;
}

@media (max-width: 819px) {
  .instruction-section .callout, .instruction-section .nelvin-small {
    display: none;
  }
}
.instruction-section {
  position: relative;
  --glow: rgba(64, 224, 255, 1);
}
.instruction-section .callout {
  margin-top: -10px;
  margin-left: 0.5em;
  position: absolute;
}
.instruction-section .nelvin-small {
  position: absolute;
  filter: drop-shadow(0 0 2px var(--glow));
}

.nelvin-small {
  margin-right: 0.3em;
  width: 88px;
  transition: 0.06s ease;
}

.nelvin {
  margin-right: 0.6em;
  width: 176px;
  transition: 0.06s ease;
}

.figure {
  margin-top: 1em;
  width: 740px;
}

.nelvin:active, .nelvin-small:active {
  transform: rotate(-20deg);
}

.game-text {
  font-family: Garamond, serif;
}
@media (prefers-color-scheme: light) {
  .game-text {
    color: #704F16;
  }
}

.item-number {
  position: absolute;
  font-size: 0.6em;
  top: 3px;
  left: 1.75em;
  background-color: rgba(255, 255, 255, 0.875);
  border-radius: 2em;
  padding: 0 0.4em;
  text-align: center;
  border: 1px solid var(--solarized-mono1);
  border-top: 0;
}
@media (prefers-color-scheme: dark) {
  .item-number {
    background-color: rgba(0, 0, 0, 0.875);
  }
}

.callout {
  position: relative;
}

.callout:has(> .item-number) {
  padding: 1em;
}

.nelvin ~ .callout, .nelvin-small + .callout, .instruction-section .callout {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 2em;
  font-family: "Comic Neue", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
}
@media (prefers-color-scheme: dark) {
  .nelvin ~ .callout, .nelvin-small + .callout, .instruction-section .callout {
    background-color: rgba(0, 0, 0, 0.95);
  }
}
.nelvin ~ .callout .item-number, .nelvin-small + .callout .item-number, .instruction-section .callout .item-number {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: light) {
  .toshe-square {
    color: #d31524;
  }
}

.hp {
  color: #1fc000;
}

.ep {
  color: #e39200;
}

.xp {
  color: #31b4bf;
}

ul.horizontal > li {
  display: inline-block;
}
ul.horizontal > li + li:before {
  content: " ❧";
}

/*# sourceMappingURL=my-style.css.map */